SECRET_KEY=django_secret_key

# db credentials
DB_NAME=self explanatory
DB_USER=self explanatory
DB_PASS=self explanatory(db password)

# email credentials
EMAIL_PORT = port
EMAIL_HOST_USER = email address
EMAIL_HOST_PASSWORD = email address password